.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* apply gray gradient background and white foreground to all wijmo controls */
.wj-content {
  background-image: linear-gradient(to top, #444 0%, #888 100%);
  color: #fff;
}
/* show selected items in orange (grid cells, calendar dates, etc) */
.wj-state-selected {
  background: #ff6a00;
}
/* multiple selected item background - shown in FlexGrid */
.wj-state-multi-selected {
  background-color: #ff9f5b;
}
/* give all headers (grid, calendar, etc) light text on a dark background */
.wj-header {
  background-color: #444;
  color: #fff;
}
/* remove gridlines from non-header grid cells */
.wj-cell:not(.wj-header) {
  border: none;
}
/* FlexGrid cell background */
.wj-flexgrid .wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  background: #555;
}
.wj-flexgrid .wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  background: #444;
}

.wj-cell {
  font-size: smaller;
}